html { 
	background: url(/fakepath/path_to_default_background_image) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	color: #FFFFFF;
}

#status_bar {
	background-color: #000000;
	background-color: rgba( 0, 0, 0, 0.4 );
}