/* This CSS Style Sheet is made for fixed status bar on desktop */
html, body {
	height: 100%;
}
body {
	margin: 0;
}
#desktop {
	min-height: 100%;
}
#applist {
	padding-bottom: 1.9em;
}
#status_bar {
	margin-top: -2.7em;
	height: 2.7em;
}
#clock, #date {
	padding-right: 20px;
}